<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.8" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net45" />
  <package id="PostSharp" version="5.0.42" targetFramework="net45" developmentDependency="true" />
  <package id="PostSharp.Patterns.Aggregation" version="5.0.42" targetFramework="net45" developmentDependency="true" />
  <package id="PostSharp.Patterns.Aggregation.Redist" version="5.0.42" targetFramework="net45" />
  <package id="PostSharp.Patterns.Common" version="5.0.42" targetFramework="net45" developmentDependency="true" />
  <package id="PostSharp.Patterns.Common.Redist" version="5.0.42" targetFramework="net45" />
  <package id="PostSharp.Patterns.Model" version="5.0.42" targetFramework="net45" developmentDependency="true" />
  <package id="PostSharp.Patterns.Model.Redist" version="5.0.42" targetFramework="net45" />
  <package id="PostSharp.Redist" version="5.0.42" targetFramework="net45" />
</packages>